{% extends 'base.html'%}
{% block header %}
	<h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
	<form action="{{ url_for('auth.login') }}" method="post">
		<label for="username">Username:</label>
		<input type="text" name="username" id="username" required />
		<br>
		<label for="password">Password:</label>
		<input type="password" name="password" id="password" required />
		<br>
		<input type="submit" value="Log in" />
	</form>
	<br>
	Not a member? <a href="{{ url_for('auth.register') }}">Register now!</a>
{% endblock %}

{# vim: set ft=html.jinja2: #}
